.container {
  height: 100vh;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
}

.paper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tableContainer {
  height: 100%;
  overflow-x: auto;
}

.table {
  min-width: 640px;
}

.tableHead {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.tableHeadCell {
  display: block;
  box-sizing: border-box;
}

.tableCell {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  font-size: 0.875rem;
}

.header {
  padding: 16px 16px 0;
}

.input {
  width: 100%;
  margin-top: 8px;
}
